<div class="row">
  <div class="small-12 columns">
    <h1>To-Do List</h1>
    <h3>What do you need to do?</h3>
  </div>
</div>

<div class="row">
  <div class="small-10 columns">
    <form id="new-task-form">
      {{input type="text" id="new-task-text" placeholder="Add a To Do item" value=newTitle}}
  </div>
  <div class="small-2 columns">
      <a {{action 'createTodo'}} class="button">Add a new to do</a>
  </div>
    </form>
</div>


<div class="row">
  <div class="small-6 columns">
    <h4 class="task-header">Incomplete Tasks</h4>
      <ol id="incomplete-tasks-list">
      {{#each incompletedTasks}}
        <li>{{title}} {{input type="checkbox" checked=isCompleted}} <a {{ action 'deleteTodo' this}} class="button">Delete</a></li>
      {{/each}}
      </ol>

  </div>
  <div class="small-6 columns">
    {{#if completedTasks}}
    <h4 class="task-header">Completed Tasks</h4>
      <ol id="completed-tasks-list">
      {{#each completedTasks}}
        <li>{{title}}</li>
      {{/each}}
      <a {{action 'deleteAllTodos'}} class="button">Clear List</a>
      </ol>
    {{/if}}
  </div>
